//Fuentes
$primaria: 'Dm Serif Display', sans-serif;
$secundaria: 'Karla', sans-serif;

// Tamaño de Media Queries
$telefono: 640px;
$tablet: 768px;
$desktop: 1024px;
$desktop2: 1200px;
$desktop3: 1800px;

// Colores
$DarkViolet: hsl(256, 25%, 20%);
$GrayishBlue: hsl(216, 30%, 68%);
$veryDarkViolet: hsl(270, 9%, 17%);
$DarkGrayishViolet: hsl(276, 4%, 51%);
$VeryLightGray: hsl(0, 0%, 98%);

$separacion: 5rem;
